<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head') %>
  <body>
    <!-- navbar -->
    <%- include('layouts/nav') %>

    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('assets/img/background.jpg')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>Dashboard</h1>
              <p>DriveTest Booking Kiosk</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content-->
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="alert alert-info" role="alert">
            You can book your drive test from this kiosk.
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <%- include('layouts/footer') %>

    <!-- scripts -->
    <%- include('layouts/script') %>
  </body>
</html>
